$main-color: rgb(173, 0, 101);
$secondary-color: #f16703;
$dark-color: #111111;
$grey-color: #494949;
$white-color: #f8f8f8;

@mixin background {
	background: rgb(27, 27, 27);
	background-image: radial-gradient(rgb(61, 61, 61) 1px, transparent 0);
	background-size: 3.5rem 3.5rem;
}
@mixin gradient-background {
	background-color: $main-color;
	background-image: linear-gradient(
		316deg,
		$main-color 0%,
		$secondary-color 70%
	);
}

@import '_animations';
@import '_components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	max-width: 100vw;
	@include background;
	color: #f8f8f8;
	line-height: 1.5;
	overflow-x: hidden;
}

body,
input,
textarea {
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
}

.nav {
	&__desktop {
		position: fixed;
		display: none;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 6rem;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 100;
	}
	&__mobile {
		position: fixed;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.95);
		transform: translateX(-120%);
		transition: transform 0.8s;
		z-index: 10;
	}
	&__links {
		display: flex;
		align-items: center;
		flex-direction: column;
		list-style-type: none;
		&-desktop {
			flex-direction: row;
			height: 100%;
		}
	}
	&__link {
		position: relative;
		display: block;
		margin-bottom: 1em;
		padding: 0.5em 1em;
		color: #f8f8f8;
		font-size: 2rem;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		z-index: 0;
		&-desktop {
			margin: 0 1em;
			i {
				margin-right: 0.3em;
			}
		}
		&::before {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 0%;
			background-color: $main-color;
			content: '';
			transition: height 0.3s;
			z-index: -1;
		}
		&:hover::before,
		&:focus::before {
			height: 100%;
		}
	}
}

.header {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.5em 3em;
	&__text {
		animation: slide-down 2s;
	}
	&__title {
		position: relative;
		font-size: 4rem;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(20deg);
			height: 6em;
			width: 100%;
			border-top-right-radius: 62%;
			border-top-left-radius: 81%;
			border-bottom-left-radius: 15%;
			border-bottom-right-radius: 47%;
			content: '';
			@include gradient-background;
			z-index: -1;
			filter: blur(80px);
			opacity: 0.3;
		}
		&--thanks {
			margin-bottom: 0.3em;
		}
	}
	&__link {
		position: absolute;
		bottom: 10%;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		border: 1px solid $white-color;
		text-decoration: none;
		transform: translateX(-50%);
		transition: background-color 0.3s;
		&::before {
			position: absolute;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			border: 1px solid transparent;
			content: '';
			animation: pulse 2s infinite;
		}
		&-arrow {
			color: $white-color;
			font-size: 2rem;
		}
	}
}

.about-me {
	position: relative;
	background-color: $dark-color;
	overflow-x: hidden;

	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: justify;

		&-img {
			width: 100%;
			margin-bottom: 2em;
			object-fit: contain;
			border: 0.5rem solid rgba(0, 0, 0, 0.6);
			border-radius: 0.5rem;
			box-shadow: 0 0 1rem #000;
		}

		&-text {
			display: flex;
			flex-direction: column;
		}
		&-paragraph {
			margin-bottom: 1em;
		}
	}
}

.projects {
	margin-bottom: 0;
	padding-bottom: 0;

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__card {
		width: 30rem;
		margin: 1em;
		border-radius: 0.5rem;
		@include gradient-background;
		box-shadow: 0 0 1.5rem $dark-color;
		overflow: hidden;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.05);
		}
		&-top {
			img {
				height: 22rem;
				width: 100%;
				object-fit: cover;
			}
		}
		&-bottom {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 30rem;
			padding: 1em;
			overflow: hidden;
			z-index: 0;
		}
		&-title {
			font-size: 2rem;
			text-transform: none;
		}
		&-text {
			margin: 0.5em 0;
		}
		&-link {
			display: inline-block;
			margin: 0 0.5em;
			padding: 0.5em 1em;
			background: none;
			border: 1px solid $white-color;
			color: $white-color;
		}
	}
}

.resume {
	&__section {
		margin: 1.5em 0;
		background-color: $dark-color;
		border-radius: 0.5rem;
		overflow-x: hidden;
		transition: transform 0.3s, box-shadow 0.3s;
		&:hover {
			transform: scale(1.05);
			box-shadow: 0 0 1.5rem $dark-color;
		}
	}
	&__name {
		padding: 0.5em 1em;
		text-align: center;
		font-size: 2rem;
	}
	&__card-heading {
		position: relative;
		width: 100%;
		padding: 0.5em 1em;
		@include gradient-background;
		font-size: 2rem;
		z-index: 0;
	}
	&__list {
		padding: 1em 1.3em;
		font-size: 1.2rem;
		list-style-type: none;
		&-item {
			margin: 0.5em 0;
		}
		&-links {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}
	&__icon {
		padding: 0.5em;
		font-size: 2rem;
		transition: color 0.3s;

		&:hover {
			color: $main-color;

			&:nth-of-type(2) {
				color: $secondary-color;
			}
		}
	}
	&__link {
		color: $white-color;
		text-decoration: none;
	}
	&__framed-list-item {
		margin: 0.5em;
		padding: 0.5em 1em;
		border: 1px solid $white-color;
		border-radius: 0.5rem;
	}
	&__experience {
		&-position {
			margin-bottom: 0.5em;
			font-size: 2rem;
		}
		&-description {
			display: block;
			margin-bottom: 2em;
		}
	}
}

.contact {
	position: relative;
	margin-bottom: 0;
	background-color: $dark-color;
	overflow: hidden;
	&__form {
		display: flex;
		flex-direction: column;
		&-input {
			width: 100%;
			padding: 0.5em 1em;
			margin: 0.5em 0 1.5em;
			border: 1px solid $grey-color;
			border-radius: 0.5rem;
			outline: none;
			background: none;
			color: $white-color;

			&:focus {
				border: 1px solid $white-color;
			}
			&--msg {
				resize: vertical;
			}
		}
		&-btn {
			align-self: end;
		}
	}
}

.footer {
	padding: 1em 0;
	background-color: $dark-color;
	border-top: 1px solid $grey-color;
	&__text {
		text-align: center;
		color: $grey-color;
	}
}

.show-nav {
	transform: translateX(0);
}

@import '_medium';

@import '_large';
